/*               */

.section {
    border-top: 3px solid #20b2aa;
    margin-top: 5px;
}
.section:first-child {
    border-top: none;
    margin-top: none;
}
.section-2 {
    height: 35px;
    display: flex;
    justify-content: space-between;
}

.text {
    align-self: center;
}

.text > a {
    text-decoration: none;
    color: #008080;
}

.mobile-button {
    display: flex;
    justify-content: center;
    border: 1px solid #008080;
    border-radius: 3px;
    background: #fff;
    color: #008080;
    height: 35px;
}

.mobile-button:hover {
    cursor: pointer;
}

.columns-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.column {
    flex: 1;
}

.skills .section-2 {
    margin-bottom: 3px;
}

div.header {
    display: flex;
    justify-content: space-between;
}

.right-side-info-wrapper {
    min-width: 80px;
    display: flex;
}

.left-part {
    width: 120px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.left-part > span {
    align-self: center;
}

.butt-description {
    min-width: 40px;
    display: flex;
}
.butt-description > span {
    align-self: center;
}

#add-aim {
    align-self: center;
}

/*                */

/*              media queries             */

@media (min-width: 479px) {
}

@media screen and (min-width: 769px) {
    .columns-wrapper {
        flex-direction: row;
    }
    .column {
        border-right: 1.5px solid #20b2aa;
        padding: 0 3px;
    }
    .column:first-child {
        padding: 0 3px 0 0;
    }
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1280px) {
}
