.input-filter-wrapper {
    height: 35px;
    border-top: 1.5px solid #20b2aa;
    border-bottom: 1.5px solid #20b2aa;
    display: flex;
    width: 205px;
}
.input-filter-wrapper i {
    align-self: center;
    font-size: 10px;
    margin-left: 5px;
    color: #008080;
}
.input-filter-wrapper #table-filter {
    height: 20px;
    width: 100%;
    border: none;
    align-self: center;
    margin-left: 10px;
    font-size: 14px;
    overflow: hidden;
}

/*              media queries             */

@media (min-width: 479px) {
    .input-filter-wrapper {
        height: 35px;
        border-top: 1.5px solid #20b2aa;
        border-bottom: 1.5px solid #20b2aa;
        display: flex;
        width: 250px;
    }
}
