/*              HEADER                 */

header.header {
    padding: 10px;
    background: #008080;
    border-bottom: 4px solid #20b2aa;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

header.header .header-wrapper {
    display: -webkit-flex;
    display: flex;

    flex-direction: column;
}

header.header .title {
    color: #fff;
    align-self: center;
}

header.header .title:hover {
    cursor: pointer;
}

header.header h1 {
    font-size: 37px;
    margin: 10px 0;
}

header.header nav {
    align-self: flex-end;
}

header.header .vertical-menu {
    color: #fff;
    font-size: 15px;
    position: relative;
    background: #20b2aa;
    padding: 8px 19px 8px 19px;
    border-radius: 5px;
}

header.header .vertical-menu:hover {
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

header.header .vertical-menu:hover .submenu {
    display: block;
}

header.header .submenu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 0 0 5px 5px;
    background: #20b2aa;
    border-left: 1px solid #008080;
    border-right: 1px solid #008080;
    border-bottom: 1px solid #008080;

    position: absolute;
    top: 100%;
    left: -1px;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

header.header .submenu > li {
    font-size: 12px;
    padding: 8px 0;
    text-align: center;
}

header.header .submenu > li > a {
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}

header.header .large-screen-nav > li {
    display: none;
    margin-right: 10px;
    border-radius: 5px;
    align-self: center;
    transition: 0.2s;
}

header.header .large-screen-nav > li:last-child {
    margin: 0px;
}

header.header .large-screen-nav > li:hover {
    opacity: 0.6;
    transition: 0.2s;
}

header.header .large-screen-nav > li > a {
    text-decoration: none;
    color: #fff;
}

/*              media queries             */

@media screen and (orientation: landscape) {
    header.header .header-wrapper {
        flex-direction: row;
    }
}

@media (min-width: 479px) {
    header.header {
        display: block;
        padding: 10px 60px;
    }

    header.header .header-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    header.header .header-wrapper nav {
        align-self: center;
    }
}

@media screen and (min-width: 769px) {
    header.header .vertical-menu {
        display: none;
    }

    header.header .large-screen-nav > li {
        display: inline-block;
    }

    header.header {
        padding: 10px 80px;
    }
}

@media screen and (min-width: 1024px) {
    header.header h1 {
        font-size: 45px;
    }

    header.header .large-screen-nav > li {
        margin-right: 20px;
    }

    header.header .large-screen-nav > li:last-child {
        margin: 0 0 0 60px;
    }

    header.header .large-screen-nav > li > a {
        font-size: 18px;
    }
}

@media screen and (min-width: 1280px) {
    header.header {
        padding: 10px 200px;
    }
    header.header .large-screen-nav > li {
        margin-right: 50px;
    }
}
