.pagination-wrapper {
    display: flex;
    margin: 15px 0;
}

#pagination {
    margin: 0 auto;
}

#pagination span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-top: 1px solid #20b2aa;
    border-bottom: 1px solid #20b2aa;
}

#pagination span.active-page {
    background-color: #008080;
    color: white;
    border: 1.5px solid #20b2aa;
}

#pagination span:hover {
    cursor: pointer;
}
#pagination span:hover:not(.active) {
    opacity: 0.5;
    background-color: #20b2aa;
    color: #fff;
}

#pagination span:first-child {
    border-left: none;
    /*border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;*/
}

#pagination span:last-child {
    border-right: none;
    /*border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;*/
}

/**/
table.table tr.content {
    display: none;
}

#pagination span.not-visible-on-mobile {
    display: none;
}

@media (min-width: 769px) {
    #pagination span.not-visible-on-mobile {
        display: inline;
    }
}
