/*header*/

.employees-body .flexible-header {
    display: flex;
    flex-direction: column;
}

.employees-body .filter-wrapper {
    margin-bottom: 5px;
}

/*            table section               */

.employees-body .table-wrapper {
    width: 100%;
    overflow: hidden;
}

.employees-body table.table {
    width: 100%;
    border-spacing: 0;
    border-top: 3px solid #20b2aa;
    border-bottom: 3px solid #20b2aa;
}

.employees-body table.table th,
.employees-body table.table td {
    text-align: center;
    padding: 10px 0;
}

.employees-body table.table tr.header > th {
    background: #20b2aa;
    color: #fff;
    border-bottom: 3px solid #20b2aa;
}

.employees-body table.table tr.header > th:hover {
    cursor: pointer;
}

.employees-body .table th:nth-child(1) {
    display: none;
}

.employees-body .table th:nth-child(3) {
    display: none;
}

.employees-body .table td:nth-child(1) {
    display: none;
}

.employees-body .table td:nth-child(3) {
    display: none;
}

.employees-body table.table .table-sort {
    text-decoration: none;
    color: #fff;
}

/*              media queries             */

@media (min-width: 479px) {
    .employees-body table.table th,
    .employees-body table.table td {
        border: none;
    }
    .employees-body .flexible-header {
        flex-direction: row;
        justify-content: space-between;
    }
    .employees-body .filter-wrapper {
        align-self: center;
        margin-bottom: 0px;
    }
}

@media (min-width: 769px) {
    .employees-body table.table th,
    .employees-body table.table td {
        padding: 15px 0;
    }
}

@media (min-width: 1024px) {
    .employees-body .table th:nth-child(1) {
        display: table-cell;
    }

    .employees-body .table th:nth-child(3) {
        display: table-cell;
    }

    .employees-body .table td:nth-child(1) {
        display: table-cell;
    }

    .employees-body .table td:nth-child(3) {
        display: table-cell;
    }
}

@media (min-width: 1280px) {
    .employees-body table.table th,
    .employees-body table.table td {
        padding: 20px 0;
    }
}
