input {
    outline: none;
}

button {
    outline: none;
}

header,
body {
    font-family: 'Josefin Sans', sans-serif;
}

/*       content-paddings-wrapper     */

section.content-paddings-wrapper {
    padding: 0 3px;
}

/*              media queries             */

@media (min-width: 479px) {
    section.content-paddings-wrapper {
        padding: 0 60px;
    }
}

@media screen and (min-width: 769px) {
    section.content-paddings-wrapper {
        padding: 0 80px;
    }
}

@media screen and (min-width: 1280px) {
    section.content-paddings-wrapper {
        padding: 0 200px;
    }
}
