input {
    outline: none;
}

header,
body {
    font-family: 'Josefin Sans', sans-serif;
}

/*              HEADER                 */

header.login-header {
    padding: 10px;
    background: #008080;
    border-bottom: 4px solid #20b2aa;
}

header.login-header .header-wrapper {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header.login-header .title {
    color: #fff;
    align-self: center;
}

header.login-header .title:hover {
    cursor: pointer;
}

header.login-header h1 {
    font-size: 37px;
    margin: 10px 0;
}

header.login-header .link {
    display: flex;
    /*margin-right: 20px;*/
    height: 45px;
    width: 70px;
    border: #20b2aa solid 2px;
    border-radius: 15px;
    align-self: center;
    background: #fff;
}

header.login-header .link:hover {
    background: #20b2aa;
    transition: 0.2s;
}

header.login-header .link:hover a {
    color: #fff;
}

header.login-header .link a {
    text-decoration: none;
    color: #008080;
    margin: auto;
    font-size: 16px;
    font-weight: 600;
}

/*                      BODY                          */

body {
    background: #fff;
}

section.login-body {
    display: flex;

    align-items: center;
    justify-content: center;
}

section.login-body .form-wrapper {
    margin: 60px 0;
}

section.login-body .form {
    background: #008080;
    border: 4px solid #20b2aa;
    border-radius: 40px;
    height: 270px;
    width: 270px;
    display: flex;
    align-self: center;
}

section.login-body form {
    margin: auto;
}

#login-email {
    color: #fff;
}

#password {
    color: #fff;
}

.input-wrapper {
    height: 35px;
    background: #fff;
    display: flex;
    padding: 0 5px;
    margin: 2px 0 6px 0;
    border-radius: 15px;
}

#login-email-field {
    height: 20px;
    border: none;
    opacity: 0.7;
    align-self: center;
}

#input-Password-Field {
    height: 20px;
    border: none;
    opacity: 0.7;
    align-self: center;
}

#login-button {
    background: #20b2aa;
    color: #fff;
    border: 2px solid #20b2aa;
    border-radius: 15px;
    width: 100%;
    height: 35px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    margin: 15px 0 8px 0;
    display: block;
}

#login-button:hover {
    background: #fff;
    color: #008080;
}

#wrapper-forgot-password-link {
    text-align: center;
}

#forgot-password-link {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

#forgot-password-link:hover {
    opacity: 0.7;
}

/*       error handling */
.form input:invalid .input-wrapper {
    border-color: #900;
    background-color: #fdd;
}

.form input:focus:invalid {
    outline: none;
}

/* Это стиль для сообщений об ошибке */
.form .error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form .error.active {
    padding: 0.3em;
}

/*            footer                       */

footer {
    height: 30px;
}

@media screen and (orientation: landscape) {
    header.login-header .header-wrapper {
        flex-direction: row;
    }

    header.login-header .link {
        align-self: center;
    }
}

@media (min-width: 479px) {
    header.login-header {
        padding: 10px 60px;
    }

    header.login-header .header-wrapper {
        flex-direction: row;
    }

    header.login-header .link {
        align-self: center;
    }
}

@media screen and (min-width: 768px) {
    header.login-header {
        padding: 10px 120px;
    }

    header.login-header h1 {
        font-size: 45px;
    }

    section.login-body .form-wrapper {
        margin: 120px 0;
    }
}

@media screen and (min-width: 1024px) {
    header.login-header {
        padding: 10px 200px;
    }
}
