/*            table section               */

.technologies-body .table-wrapper {
    width: 100%;
    overflow: hidden;
}

.technologies-body table.table {
    width: 100%;
    border-spacing: 0;
    border-top: 3px solid #20b2aa;
    border-bottom: 3px solid #20b2aa;
    color: #000000;
}

.technologies-body table.table th,
.technologies-body table.table td {
    text-align: center;
    padding: 10px 0;
}
.technologies-body table.table tr.header > th {
    background: #20b2aa;
    color: #fff;
    border-bottom: 3px solid #20b2aa;
}

.technologies-body table.table .table-sort {
    text-decoration: none;
    color: #fff;
}

/*              media queries             */

@media (min-width: 479px) {
    .technologies-body table.table th,
    .technologies-body table.table td {
        border: none;
    }
}

@media screen and (min-width: 769px) {
    .technologies-body table.table th,
    .technologies-body table.table td {
        padding: 15px 0;
    }
}

@media screen and (min-width: 1280px) {
    table.table th,
    table.table td {
        padding: 20px 0;
    }
}
