{{> html/start title="Nested page" settings=settings
script ="/static-assets/js/createDepartmentCard.js"

style="static-assets/css/partials/info-card.css"

}}
{{> navigation }}

<section class="content-paddings-wrapper project-body ">
  <h2>Department Name</h2>

  <div class="section">
    <h3>Projects:</h3>

    <div class="columns-wrapper">
      <div class="column">
        <div class="section-2">
          <span class="text">
            <a href="" class="link"> Vanya ivanov</a>
          </span>
        </div>
        <div class="section-2">
          <span class="text">
            <a href="" class="link"> Vanya ivanov</a>
          </span>
        </div>
      </div>
      <div class="column">
        <div class="section-2">
          <span class="text">
            <a href="" class="link"> Vanya ivanov</a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <h3>Employees:</h3>

    <div class="columns-wrapper">
      <div class="column">
        <div class="section-2">
          <span class="text">
            <a href="" class="link"> Vanya ivanov</a>
          </span>
        </div>
        <div class="section-2">
          <span class="text">
            <a href="" class="link"> Vanya ivanov</a>
          </span>
        </div>
      </div>
      <div class="column">
        <div class="section-2">
          <span class="text">
            <a href="" class="link"> Vanya ivanov</a>
          </span>
        </div>
      </div>
    </div>
  </div>





  <div class="skill-tree">

  </div>
</section>
<footer>
</footer>
{{> html/end }}