{{> html/start title="Nested page" settings=settings }}
{{> navigation }}

<section class="content-paddings-wrapper employee-body ">
  <h2>Name Surname</h2>

  <div class="general-info section">
    <h3>Info:</h3>

    <div class="job section-2">
      <span class="text">
        position: job1
      </span>

      <div id="job-history">
        Last jobs:
        <ul id="list-of-jobs">
          <li>work1</li>
          <li>work1</li>
          <li>work1</li>
        </ul>
      </div>

      <button id="show-history" class="mobile-button" title="show previous jobs">
        history
      </button>
    </div>
    <div class="section-2">
      <span class="text">
        department: <a href="/">department1</a>
      </span>
    </div>
    <div class="section-2">
      <span class="text">
        manager: <a href="/">manager1 manager1 </a>
      </span>
    </div>
  </div>

  <div class="skills section">
    <div class="header">
      <span>
        <h3>Skills:</h3>
      </span>

    </div>
    <div class="columns-wrapper">
      <div class="column">
        <div class="section-2">
          <span class="text">
            js
          </span>
          <div class="right-side-info-wrapper">
            <div class="left-part">
              <span>
                10 points
              </span>
            </div>
            <button id="edit-lvl" class="mobile-button">
              edit
            </button>
          </div>
        </div>
        <div class="section-2">
          <span class="text">
            https
          </span>

          <div class="right-side-info-wrapper">
            <div class="left-part">
              <span>
                10 points
              </span>

            </div>
            <button id="edit-lvl" class="mobile-button">
              edit
            </button>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="section-2">
          <span class="text">
            https
          </span>

          <div class="right-side-info-wrapper">
            <div class="left-part">
              <span>
                10 points
              </span>

            </div>
            <button id="edit-lvl" class="mobile-button">
              edit
            </button>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="section-2">
          <span class="text">
            https
          </span>
          <div class="right-side-info-wrapper">
            <div class="left-part">
              <span>
                10 points
              </span>

            </div>
            <button id="edit-lvl" class="mobile-button">
              edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="aims section">
    <div class="header">
      <h3>Aims:</h3>
      <button id="add-aim" class="mobile-button">
        add
      </button>
    </div>
    <div class="columns-wrapper">
      <div class="column">
        <div class="section-2">
          <span class="text">
            aim number 1
          </span>
        </div>
        <div class="section-2">
          <span class="text">
            aim number 1
          </span>
        </div>
      </div>
      <div class="column">
        <div class="section-2">
          <span class="text">
            aim number 1
          </span>
        </div>
      </div>
    </div>





  </div>
  <div class="skill-tree">

  </div>
</section>
<footer>
</footer>
{{> html/end }}