{{> html/start title="Nested page" settings=settings
script ="/static-assets/js/formValidation.js"
style="static-assets/css/LoginPage.css" }}

<header class="login-header">
  <div class="header-wrapper">
    <div class="title">
      <h1>T-Systems HRM</h1>
    </div>
  </div>
</header>

<section class="login-body">
  <div class="form-wrapper">
    <div class="form">
      <form action="submit" method="POST" novalidate name='login-form'>
        <div id="login-email" class="field">
          <label for="login-email-field" class="label-for-input">
            login/email
          </label>
          <div class="input-wrapper">
            <input type="text" id="login-email-field" required="required" placeholder="email" />
          </div>


          <div class="error" aria-live="polite"></div>


        </div>
        <div id="password" class="field">
          <label for="input-Password-Field" class="label-for-input">
            password
          </label>
          <div class="input-wrapper">
            <input type="password" id="input-Password-Field" placeholder="password" />
          </div>
        </div>
        <div class="field " id="bottom-form">

          <button type="submit" id="login-button">
            login
          </button>
          <div id="wrapper-forgot-password-link">
            <a href="./" id="forgot-password-link">
              forgot password?
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<footer>

</footer>
{{> html/end }}