{{> html/start title="Nested page" settings=settings }}
{{> navigation }}

<section class="content-paddings-wrapper project-body ">
  <h2>Project Name</h2>
  <div class="general-info section">
    <h3>description:</h3>
    <article>
      The chase...is better than the catch
      Transforming the Tunes
      We need your support
      If you've got the breath back
      It's a first page of the second chapter
    </article>
  </div>

  <div class="section">
    <h3>Employees:</h3>

    <div class="columns-wrapper">
      <div class="column">
        <div class="section-2">
          <span class="text">
            Vanya ivanov
          </span>
        </div>
        <div class="section-2">
          <span class="text">
            Vanya ivanov
          </span>
        </div>
      </div>
      <div class="column">
        <div class="section-2">
          <span class="text">
            Vanya ivanov
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <h3>Technologies:</h3>

    <div class="columns-wrapper">
      <div class="column">
        <div class="section-2">
          <span class="text">
            <a href="" class="link"> Vanya ivanov</a>
          </span>
        </div>
        <div class="section-2">
          <span class="text">
            <a href="" class="link"> Vanya ivanov</a>
          </span>
        </div>
      </div>
      <div class="column">
        <div class="section-2">
          <span class="text">
            <a href="" class="link"> Vanya ivanov</a>
          </span>
        </div>
      </div>
    </div>


  </div>


  <div class="section">
    <div class="header">
      <h3>Aims:</h3>
      <button id="add-aim" class="mobile-button">
        add
      </button>
    </div>
    <div class="columns-wrapper">
      <div class="column">
        <div class="section-2">
          <span class="text">
            aim number 1
          </span>
        </div>
        <div class="section-2">
          <span class="text">
            aim number 1
          </span>
        </div>
      </div>
      <div class="column">
        <div class="section-2">
          <span class="text">
            aim number 1
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="skill-tree">

  </div>
</section>
<footer>
</footer>
{{> html/end }}