{{> html/start title="Nested page" settings=settings
script ="/static-assets/js/createProjectsTable.js"
script1="/static-assets/js/tableSort.js"
script2 ="/static-assets/js/pagination.js"
script3 ="/static-assets/js/filterTable.js"

style="static-assets/css/projects.css"
style1="static-assets/css/partials/pagination.css"
style2="static-assets/css/partials/inputFilter.css"
}}

{{> navigation }}

<section class="content-paddings-wrapper projects-body ">

  <div class="flexible-header">
    <h2>Projects</h2>
    <div class="filter-wrapper">
      {{> filterInput columnToFilter = 4 columnToFilter1 = 5 }}
    </div>
  </div>

  <div class="table-wrapper">
    <table class="table">
    </table>
  </div>

  <div class="pagination-wrapper">
    <div id="pagination" onclick="changePage(event)">
    </div>
  </div>
</section>
<footer>
</footer>
{{> html/end }}