{{> html/start title="Nested page" settings=settings
script ="/static-assets/js/createTechnologiesTable.js"
script1="/static-assets/js/tableSort.js"
script2 ="/static-assets/js/pagination.js"


style="static-assets/css/technologies.css"
style1="static-assets/css/partials/pagination.css"

}}
{{> navigation }}

<section class="content-paddings-wrapper technologies-body">
  <div class="table-wrapper">

    <h2>Technologies</h2>
    <table class="table">

    </table>
  </div>
  <div class="pagination-wrapper">
    <div id="pagination" onclick="changePage(event)">
    </div>
  </div>
</section>
<footer>
</footer>
{{> html/end }}