{{> html/start title="Nested page" settings=settings
script ="/static-assets/js/createTechnologyCard.js"

style="static-assets/css/partials/info-card.css"

}}
{{> navigation }}

<section class="content-paddings-wrapper project-body ">


  <div class="skill-tree section">

  </div>
</section>
<footer>
</footer>
{{> html/end }}