<div class="input-filter-wrapper">
  <i class="fa fa-search"></i>
  <input type="text" id="table-filter" onkeyup="filterFunction({{ columnToFilter}}, {{columnToFilter1}}, {{columnToFilter2 }})"
    placeholder="enter key word" title="search inputed in table">
</div>