<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <script src="/static-assets/js/index.js" type="text/javascript"></script>
    <script>
        (function () {
            const port = 'ws://localhost:{{ port }}';
            const socket = new WebSocket(port);
            // Listen for messages
            socket.addEventListener('message', function (event) {
                if (event.data === 'reload') {
                    window.location.href = window.location.href;
                }
            });
        })();
    </script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/">
    <link rel="stylesheet" href="static-assets/css/general.css">
    <link rel="stylesheet" href="static-assets/css/partials/navigation.css">

    <link rel="stylesheet" href="{{ style }}">
    <link rel="stylesheet" href="{{ style1 }}">
    <link rel="stylesheet" href="{{ style2 }}">
    <link rel="stylesheet" href="{{ style3 }}">
    <link rel="stylesheet" href="{{ style4 }}">

    <script src='{{ script }}' type="text/javascript"></script>
    <script src='{{ script1 }}' type="text/javascript"></script>
    <script src='{{ script2 }}' type="text/javascript"></script>
    <script src='{{ script3 }}' type="text/javascript"></script>
    <script src='{{ script4 }}' type="text/javascript"></script>



</head>