<header class="header">
  <div class="header-wrapper">
    <div class="title">
      <h1>T-Systems HRM</h1>
    </div>
    <nav>
      <div class="vertical-menu">

        menu <i class="fa fa-angle-down"></i>

        <ul class="submenu">
          <li>
            <a href="./" id="eployees-link">
              eployees
            </a>
          </li>
          <li>
            <a href="./" id="projects-link">
              projects
            </a>
          </li>
          <li>
            <a href="./" id="technologies-link">
              technologies
            </a>
          </li>
          <li>
            <a href="./" id="logout-link">
              log out
            </a>
          </li>
        </ul>
      </div>
      <ul class="large-screen-nav">
        <li class="link"><a href="./" id="eployees-link">
            eployees
          </a></li>
        <li class="link"><a href="./" id="projects-link">
            projects
          </a></li>
        <li class="link"><a href="./" id="technologies-link">
            technologies
          </a></li>
        <li class="link"><a href="./" id="logout-link">
            log out
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>